.nav {
    .container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 40px;
        @include breakpoint('large'){
            padding: 32px 0;
        }
        .logo {
            display: flex;
            align-items: center;
           
        

        p {
            color: #fff;
            font-size: 24px;
            font-family: "Cardo";
            font-weight: 400;
          

            span {
                color: $primary;

            }
        }
    }

        .menu {
            ul {
                color: #fff;
                display: flex;
                align-items: center;
                list-style: none;
                display: none;
              

                @include breakpoint ('large') {
                    display: block;
                    

                }


                li {
                    padding: 0 40px;
                    font-size: 14px;
                    font-weight: 400;
                    display: inline-block;

                    a {
                        color: #fff;
                        text-decoration: none;
                        i {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }


        .icon {
            display: flex;
            align-items: center;
            justify-content: space-around;           

            .buy {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                color: #fff;
                background: rgba(255, 255, 255, 0.35);
                box-shadow: -1px 1px 15px rgba(8.73, 19.90, 48.65, 0.11);
                border-radius: 40px;

            }

            .text {
                padding: 0 25px;
                color: white;
                display: none;

                @include breakpoint ('large') {
                    display: block;
                }
            }

            button {
                background-color: #DE8556;
                border: #DE8556;
                border-radius: 2px;
                padding: 12px 28px 12px 28px;
                color: white;
                font-size: 14px;
                font-family: Plus Jakarta Sans;
                font-weight: 600;
                display: none;
                

                @include breakpoint ('large') {
                    display: block;
                    
                }


            }

            .div {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                background: rgba(255, 255, 255, 0.35);
                box-shadow: -1px 1px 15px 0px rgba(9, 20, 49, 0.11);
                display: flex;
                align-items: center;
                justify-content: center;
                
                @include breakpoint ('large') {                        
                    display: none;
                }
                 svg {
                    display: block;
                 }

            }
        }
    }
}